page-home1 {
    #slider{
        background:url('../assets/imgs/gvwala_slider1.jpg');
        background-color: #c93032;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
}
