page-home {
    #slider{
        background:url('../assets/imgs/sliderimage.png');
        background-color: #c93032;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
   
    .button-md {
        border-radius: 0px;
        background-color: #c93032;
        text-transform: capitalize;
    }
    .btn {
        border-radius: 100%;
        background-color: #ffffff;
        text-transform: capitalize;
        color: #c93032;
        border:1.5px solid #c93032;
        top: 30%;
    }
    #shop.col{
        top: 7px;
        
    }
    #card{
       display: block;
       margin-left: 0px;
       margin-right: 0px;
       width: 100%;
       left: 0%;
       right: 0%;
       height: 50px;
    }
    .text{
        font-size: 12px;
    }
    [col-8]{
        width:69%;
    }
    .col{
        padding: 0px;
        margin: 0px;
    }
    .arrow{
        
        vertical-align: middle;
    }
    // .row{
    //     display: block;
    // }
    
}
