<ion-content padding>
    
  <div padding style="height: 200px;">
      <ion-slides pager>

          <ion-slide id='slider'>
            
          </ion-slide>
        
          <ion-slide style="background-color: blue">
            <h2>Slide 2</h2>
          </ion-slide>
        
          <ion-slide style="background-color: red">
            <h2>Slide 3</h2>
          </ion-slide>
        
        </ion-slides>
  </div>
<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
  <ion-item *ngFor="let item of items">
    {{ item }}
  </ion-item>
</ion-list>
<ion-card>

  <ion-card-header>
    Shop By Category
  </ion-card-header>

  <ion-card-content id='card'>
    <ion-card *ngFor="let card of cardList; let i=index">   
      <ion-card-content>
        
      </ion-card-content>
    
    </ion-card>
  </ion-card-content>

</ion-card>
</ion-content>
