<ion-content padding>
    
  <div padding style="height: 200px;">
      <ion-slides pager>

          <ion-slide id='slider'>
            
          </ion-slide>
        
          <ion-slide style="background-color: blue">
            <h2>Slide 2</h2>
          </ion-slide>
        
          <ion-slide style="background-color: red">
            <h2>Slide 3</h2>
          </ion-slide>
        
        </ion-slides>
  </div>
  <ion-row>
    <ion-col text-left col-2>
      <button ion-button small class="btn"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
    </ion-col>
    <ion-col text-center col-8>
      <ion-card text-center id="card">
        <ion-card-content class="text">
          <b>Point Based Rewards Platform</b>
          100+ Gift Cards | 10+ Categories
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col text-right col-2>
      <button ion-button small class="btn"><ion-icon name="ios-arrow-forward-outline"></ion-icon></button>
    </ion-col>
    <!-- <ion-col col-7 text-center>
      <ion-card text-center>
        <ion-card-header>
          <b>Point Based Rewards Platform</b>
        </ion-card-header>
        <ion-card-content>
          100+ Gift Cards | 10+ Categories
        </ion-card-content>
      </ion-card>
    </ion-col> -->

    <!-- <ion-col col-2 text-right>
      <button (click)="this.Slides.slidePrev()"> 
        <ion-icon name="arrow-forward"></ion-icon> 
      </button>
    </ion-col> -->

  </ion-row>
  
  
<ion-searchbar placeholder="Search for gift cards" (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
  <ion-item *ngFor="let item of items">
    {{ item }}
  </ion-item>
</ion-list>

<ion-card>
  <ion-card-header>
    <ion-row>
      <ion-col id="shop">
        <b>Shop By Category</b>
      </ion-col>
      <ion-col text-right>
        <button ion-button small>View All</button>
      </ion-col>
    </ion-row>
     
  </ion-card-header>

  <ion-card-content>
    <ion-row >
      <ion-col col-4 *ngFor="let card of cardList; let i=index">
        <ion-card >
          <img src="../assets/imgs/mobile.png"/>
        </ion-card>
      </ion-col>
    </ion-row>
    
    
  </ion-card-content>

</ion-card>
</ion-content>
